.searchform {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 0;
  padding: 15px 0;
  background-color: #20232a;
}
.searchinp {
  width: 400px;
  padding: 0px;
  margin: 0px;
  height: 40px;
}

.searchbtn {
  height: 40px;
}
